---
import Disqus from "@/helpers/Disqus";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import {
  humanize,
  markdownify,
  plainify,
  slugify,
} from "@/lib/utils/textConverter";
import ImageMod from "./components/ImageMod.astro";
import BlogSection from "./partials/BlogSection.astro";
import CallToAction from "./partials/CallToAction.astro";

const { post } = Astro.props;

const { body } = post;
const { Content } = await post.render();
const { title, author, image, date } = post.data;

const authorList = await getSinglePage("authors");
const postAuthor =
  authorList && authorList.filter((a: any) => a.data.title, author)[0];
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="text-center lg:col-9" data-aos="fade-up-sm">
        {title && <h1 set:html={markdownify(title)} class="h2 mb-4" />}
        {body && <p class="mb-6 text-lg">{plainify(body?.slice(0, 190))}</p>}
        <ul class="mb-4 flex items-center justify-center gap-4">
          <li class="text-lg/[inherit]">
            <a
              href={`/authors/${slugify(postAuthor.slug)}`}
              class="flex gap-2 font-medium">
              <img
                class="h-8 w-8"
                src={postAuthor.data.image}
                alt={postAuthor.data.title}
              />
              {humanize(postAuthor.data.title)}
            </a>
          </li>
          <li class="flex items-center gap-x-2">
            <img
              class="h-8 w-8"
              src="/images/icons/png/date.png"
              alt="date icon"
            />
            <p class="inline-block font-medium text-tertiary">
              {dateFormat(date, "iiii, MMM dd, yyyy")}
            </p>
          </li>
        </ul>
      </div>
      <div
        class="col-12 pt-20 md:pt-32"
        data-aos="fade-up-sm"
        data-aos-delay="200">
        {
          image && (
            <div class="mb-10">
              <ImageMod
                src={image}
                height={500}
                width={1200}
                alt={title}
                class="h-auto w-full rounded-3xl object-cover md:h-[700px]"
                format="webp"
              />
            </div>
          )
        }
      </div>
      <article class="pb-10 lg:col-8" data-aos="fade-up-sm">
        <div class="content">
          <Content />
        </div>
        <Disqus className="mt-20" client:load />
      </article>
    </div>
  </div>
  <!-- Related posts -->
  <BlogSection visiblePosts={3} />
  <CallToAction />
</section>
